.border-form {
    background-color: white;
    box-shadow: 0 10px 10px 10px rgba(0, 0, 0, .2);
    padding: 12px;
    margin-left: 180px;
    margin-top: 60px;
    width: 1030px;
}


form {
    width: 1000px;
}